<div class="container" *ngIf="isOpen" @openClose>
  <div class="label">{{ header }}</div>
  <button class="choice" disabled *ngIf="choices.length === 0">None Available</button>
  <button class="choice" *ngFor="let choice of choices" (click)="select(choice)">{{ choice }}</button>
</div>
