@import '../../../scss/themes.scss';


.container {
  position: absolute;
  top: 16px;
  left: 16px;
  min-width: 15ch;

  border: 1px solid $base-border-color;
  background: black;
  padding: 4px 8px 6px;

  .label {
    color: hsl(var(--base-hue), 100%, 70%);
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 4px;

    :host-context(.is-local) & {
      color: hsl(var(--base-hue), 5%, 60%);
    }
  }

  .choice {
    width: 100%;
    display: block;
    padding: 2px 4px;
    margin: 2px 0px;
  }
}
