.progress-bar {
  .outer {
    border: 0px solid #fff;
    position: relative;
    height: 100%;
    background: #f0f;
  }

  .value {
    border-right: 1px solid #f9f;
    background: #909;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
