/** BEGIN modules/arrow.scss */
.arrow {
  will-change: transform, opacity;
  transition: var(--transition);
  color: hsl(var(--base-hue), 0%, 53%);
  stroke: hsl(var(--base-hue), 0%, 53%);
  fill: hsl(var(--base-hue), 0%, 53%);
  padding: 16px;
  z-index: var(--active-tab-z);
  /*transform-origin: center;*/
}

.arrow:hover {
  color: currentColor;
  stroke: currentColor;
  fill: currentColor;
}

.collapsed .arrow svg {
  opacity: 0.4;
  transform: rotate(-180deg);
}

/** END modules/arrow.scss */
