/** BEGIN modules/callout.scss */
.callout {
  transition: var(--transition);
  border: 1px solid hsla(0, 0%, 98%, 0.2);
  width: 80px;
  position: relative;
  font-size: 12px;

  &.collapsed {
    width: 0px;
    border-color: transparent;
    opacity: 0.4;
    .arrow {
      left: -8px;
    }
  }

  .arrow {
    position: absolute;
    top: -1px;
    left: 25%;
    transform: rotate(180deg) translate(50%, 50%) scale(0.5);
  }
  ul {
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    li {
      margin: 8px 0 0;
      &.spacer {
        flex: 1 1 auto;
      }
    }
  }

  a {
    background: var(--page-dark-bg);
    border: 1px solid $base-border-color;
    color: var(--page-light-fg);
    padding: 0 8px 2px;
    margin: 2px;
    transition: var(--transition);
    font-weight: 600;

    &:hover {
      background: $base-border-color;
    }
    &.error {
      background: hsl(0, 50%, 13%);
      color: hsl(0, 100%, 98%);
      &:hover {
        background: hsl(0, 100%, 21%);
        color: var(--page-light-fg);
      }
    }
    &:disabled,
    &.active {
      background: hsla(0, 0%, 50%, 0.35);
      color: hsl(0, 0%, 50%);
      &:hover {
        background: hsla(0, 0%, 40%, 0.35);
        /* color: hsl(0, 0, 40%); */
      }
    }
  }
}

.collapsed .callout {
  width: 0;
  border-color: transparent;
  visibility: hidden;
  opacity: 0;
}

/** END modules/callout.scss */
