/** BEGIN modules/tabs.scss */

.tabs {
  font-family: var(--header-font);
  font-weight: 700;
  z-index: var(--base-tab-z);
  ul {
    align-items: flex-end;
    display: flex;
    height: 2em;
    line-height: 25px;
    margin-bottom: -5px;
    padding: 0 8px;
    text-align: center;
  }
  li a {
    border: 1px solid hsla(0, 0%, 98%, 0.2);
    border-bottom: 1px solid transparent;
    display: inline-block;
    margin: 2px 2px 0px;
    opacity: 0.5;
    padding: 2px 8px 2px;
    transition: var(--transition);
    &:hover {
      opacity: 1;
    }
    &.active {
      background: var(--page-active-dark-bg);
      opacity: 1;
      z-index: var(--active-tab-z);
    }
  }
}

.collapsed .tabs {
  height: 0px;
  border-color: transparent;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

markdown {
  h1 {
    font-size: 2.5em;
    text-shadow: 0 0 1px hsl(var(--base-hue), 100%, 80%);
    margin-bottom: 8px;
  }
  h3 {
    text-shadow: 0 0 2px hsl(var(--base-hue), 100%, 80%);
    line-height: 120%;
  }
  ul {
    margin-bottom: 8px;
  }
  a {
    color: hsl(var(--base-hue), 45%, 70%);
  }
}

/** END modules/tabs.scss */
