/** BEGIN modules/vitals.scss */
.vitals {
  --meter-width: 160px;
  transition: var(--transition);
  border: 1px solid $base-border-color;
  height: calc(var(--row-height) * var(--rows));
  position: relative;
  font-size: 12px;
  --row-height:  27px;
  --rows: 2;
  &.collapsed {
    height: 4px;
    border-color: transparent;
    opacity: 0.4;
  }
  .arrow {
    position: absolute;
    top: 25%;
    right: 1px;
    transform: rotate(-90deg) translate(50%, 50%) scale(0.5);
  }
  ul {
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: calc(var(--rows) * var(--row-height));
    justify-content: flex-start;
    /*! border: 1px solid #F0F; */
  }
  li {
    display: flex;
    /*! justify-content: space-between; */
    /*! padding: 2px 4px; */
    /*! max-width: calc(10ch + var(--meter-width) + 4px); */
    /*! align-items: center; */
  }
}

.collapsed .vitals {
  height: 0px;
  border-color: transparent;
  visibility: hidden;
  opacity: 0;
}

/** END modules/vitals.scss */
