/** BEGIN layouts/robo-grid.scss */
body, app-root {
  height: 100%;
}

.l-robo {
  display: grid;
  height: 100%;
  grid-gap: 4px;
  grid-template-columns: minmax(16px, auto) minmax(min-content, 20ch) min-content minmax(20vw, 65ch) minmax(16px, auto);
  grid-template-rows: 16px min-content min-content min-content 1fr minmax(min-content, 2em) 16px;
  grid-template-areas:
    ". . . . ."
    ". log callout vitals ."
    ". log callout header ."
    ". log callout tabs ."
    ". log callout panels ."
    ". log footer footer .";

  header { grid-area: header; }
  main { grid-area: panels; }
  footer { grid-area: footer; }

  .tabs { grid-area: tabs; }
  .callout { grid-area: callout; }
  .vitals { grid-area: vitals; }
  .log { grid-area: log; overflow: hidden; }
}

/** END layouts/robo-grid.scss */
