button {
  transition-property: color, border-color, background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff5;
  box-sizing: border-box;
  padding: 2px;
  min-width: 120px;
  min-height: 50px;
}

button {
  padding: 8px;
  margin: 0;
  border: 0;
  flex-grow: 1;
}
app-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.round-duration,
.round-length {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.round-remaining {
  color: #fffb;
}
.round-duration {
  top: 4px;
  font-size: 20px;
  color: #fffe;
}

.round-length {
  bottom: 4px;
  font-size: 12px;
  color: #fff5;
}
