<app-progress *ngIf="data.isRunning" [type]="'progress-bar'" [max]="data.length" [value]="data.duration"></app-progress>
<button #roundStartButton id="round-start-button" [style.visibility]="data.isRunning ? 'hidden' : 'visible'" [disabled]="data.disabled" (click)="roundStartButton.blur(); started.emit()">{{data.label}}</button>
<div *ngIf="data.isRunning" class="round-duration">{{(data.length - data.duration) / 1000 | number:'1.3-3'}}<span class="round-remaining">s</span></div>
<div *ngIf="data.isRunning" class="round-length">{{data.length / 1000 | number:'1.1-1'}}s total</div>
