<app-bot-card
  *ngFor="let currentBot of bot.bots"
  [bot]="currentBot"
  (sourceDetached)="detachedSource($event)"
  (sourceAttached)="attachedSource($event)"
></app-bot-card>

<!-- <ul>
  <li *ngFor="let source of power.sources">{{ source | json }}</li>
</ul> -->

Unused Batteries
<ul>
  <li *ngIf="power.batteries.length === 0">No unused batteries.</li>
  <li *ngFor="let battery of power.batteries">{{ battery.id }}: {{ battery.charge / battery.capacity | percent:'1.1-1'}} charge</li>
</ul>
