<p>Decryption</p>
<h2>Processing Types</h2>
<ul>
  <li *ngFor="let tech of processingTechs"
      (click)="decrypt(tech)"
      [class.encrypted]="tech.encrypted"
      [class.available]="tech.unlocked">{{tech.name}}</li>
</ul>
<h2>Bot Types</h2>
<ul>
  <li *ngFor="let tech of botTechs"
      (click)="decrypt(tech)"
      [class.encrypted]="tech.encrypted"
      [class.available]="tech.unlocked">{{tech.name}}</li>
</ul>

<h2>Battery Types</h2>
<ul>
  <li *ngFor="let tech of batteryTechs"
      (click)="decrypt(tech)"
      [class.encrypted]="tech.encrypted"
      [class.available]="tech.unlocked">{{tech.name}}</li>
</ul>

<h2>Power Sources</h2>
<ul>
  <li *ngFor="let tech of powerTechs"
      (click)="decrypt(tech)"
      [class.encrypted]="tech.encrypted"
      [class.available]="tech.unlocked">{{tech.name}}</li>
</ul>
