li {
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &.available {
    &:hover {
      background: hsla(var(--base-hue), 100%, 80%, 20%);
    }
    background: hsla(var(--base-hue), 100%, 80%, 5%);
    opacity: 1;
  }

  &.encrypted {
    color: #fff0;
    &:hover {
      background: #fff1;
      opacity: 0.8;
    }
    text-shadow: 0 0 6px #fff, 0 0 4px #fff;
    opacity: 0.5;

    &.available {
      &:hover {
        background: hsla(var(--base-hue), 50%, 40%, 20%);
        opacity: 1;
      }
      background: hsla(var(--base-hue), 50%, 40%, 5%);
      text-shadow: 0 0 2px hsl(var(--base-hue), 100%, 80%), 0 0 4px hsl(var(--base-hue), 100%, 80%);
      opacity: 0.8;
      // text-shadow: 0 0 2px #9f9;
    }
  }
}
