<div class="l-robo" [ngClass]="theme">
  <header>
    <h1>A Frozen Derelict</h1>
  </header>
  <main>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
  <nav class="tabs">
    <ul>
      <li><a routerLink="/dashboard" [routerLinkActive]="'active'">Dashboard</a></li>
      <li><a routerLink="/warehouse" [routerLinkActive]="'active'">Warehouse</a></li>
      <li><a routerLink="/processing" [routerLinkActive]="'active'">Processing</a></li>
      <li><a routerLink="/cornucopia" [routerLinkActive]="'active'">Cornucopia</a></li>
      <li><a routerLink="/engineering" [routerLinkActive]="'active'">Engineering</a></li>
    </ul>
  </nav>
  <section class="log">
    <ul>
      <li>Game launched<br /><span class="small">{{start.toLocaleTimeString()}}</span></li>
    </ul>
  </section>
  <section class="vitals" [class.collapsed]="collapsed['vitals']">
    <div class="arrow" data-target="vitals" (click)="collapse('vitals')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M14 12l-14 9v-18l14 9zm-4-9v4l8.022 5-8.022 5v4l14-9-14-9z"></path>
      </svg>
    </div>
    <div class="wrapper">
      <ul>
        <ng-container *ngFor="let resource of resources">
          <app-resource-meter [resource]="resource"></app-resource-meter>
        </ng-container>
      </ul>
    </div>
  </section>
  <section class="callout" [class.collapsed]="collapsed['callout']">
    <div class="arrow" data-target="callout" (click)="collapse('callout')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M14 12l-14 9v-18l14 9zm-4-9v4l8.022 5-8.022 5v4l14-9-14-9z"></path>
      </svg>
    </div>
    <div class="wrapper">
      <ul>
        <li>Stuff!</li>
        <li>More Stuff!</li>
        <li class="spacer"></li>
        <li><a class="small" routerLink="/changelog" [routerLinkActive]="'active'">Changelog</a></li>
        <li class="pause">
          <button class="small" id="pauseGame" (click)="pause()" [class.is-none]="!paused">Pause</button>
          <button class="small" id="playGame" (click)="play()" [class.is-none]="paused">Play</button>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <ul>
      <li class="small" id="ticks" [class.delayed]="(loop$ | async)?.delay! > 0">{{ (loop$ | async)?.tick?.toLocaleString() }}</li>
      <li class="spacer"></li>
      <app-switch label="remote" (clicked)="changeTheme('is-remote')"></app-switch>
      <app-switch label="filesystem" (clicked)="changeTheme('is-filesystem')"></app-switch>
      <app-switch label="local" (clicked)="changeTheme('is-local')"></app-switch>
      <app-switch label="green" (clicked)="changeTheme('is-green')"></app-switch>
      <app-switch label="error" (clicked)="changeTheme('is-error')"></app-switch>
      <app-switch label="purple" (clicked)="changeTheme('is-purple')"></app-switch>
    </ul>
  </footer>
</div>
