/** BEGIN modules/resource-indicators.scss */
.vitals .wrapper > ul {
  --px-width: 5px;
  --num-width: calc(5 * var(--px-width));
  /*! width: calc(30 * var(--px-width)); */
  position: relative;
}
#resource-indicators {
  --px-width: 8px;
  --num-width: calc(10 * var(--px-width));
  width: calc(50 * var(--px-width));
  position: relative;
}

#resource-indicators * {
  box-sizing: border-box;
}

.delayed {
  color: hsl(0, 100%, 60%);
  text-shadow: 0 0 2px #FFF;
}
/** END modules/resource-indicators.scss */
