@import '../../scss/themes.scss';

dl {
  padding: 2px;
}

dt {
  font-weight: 600;
  padding: 2px;
  color: hsl(var(--base-hue), 100%, 70%);
  background: #FFFFFF00;

  &:first-child {
    border-top: 1px solid $base-border-color;
  }

  &:hover {
    background: #FFFFFF10;

    + dd {
      background: #FFFFFF0A;
    }
  }

  &.encrypted {
    text-shadow: 0 0 2px #FFF, 0 0 4px #FFF;

    + dd {
      text-shadow: 0 0 2px #FFF, 0 0 4px #FFF;
    }
  }

  :host-context(.is-local) & {
    color: hsl(var(--base-hue), 5%, 60%);
  }
}

dd {
  padding: 0 2ch 4px;
  font-size: 80%;
  border-bottom: 1px solid $base-border-color;
  background: #FFFFFF00;

  &:hover {
    background: #FFFFFF10;
  }
}

.resource {
  font-weight: 600;
  color: hsl(var(--base-hue), 100%, 70%);
  text-decoration: underline dotted white;
  &:hover {
    background: #FFFFFF1A;
  }

  :host-context(.is-local) & {
    color: hsl(var(--base-hue), 5%, 60%);
    text-decoration: underline dotted white;
  }
}
