<dl>
  <dt>Grind regolith</dt>
  <dd>Consumes <span class="resource">regolith</span>. Produces <span class="resource">refined regolith</span>.</dd>
  <dt>Molten regolith electrolysis</dt>
  <dd>Consumes <span class="resource">refined regolith</span>. Produces Mongrel Alloy (molten) and ceramic slag oxides (molten).</dd>
  <dt class="encrypted">Fluorine processing</dt>
  <dd>Consumes <span class="resource">refined regolith</span> with fluorine catalyst. Produces oxygen, silicon, Al/Fe mixture, CaO/MgO mixture.</dd>
  <dt class="encrypted">Ionic Salt Processing</dt>
  <dd>Consumes <span class="resource">refined regolith</span> with ionic liquid catalysts/water. Produces raw mixed metals, CaO. KREEP Regolith: produces potassium, rare earth elements, phosphorous.</dd>
  <dt class="encrypted">Vacuum Distillation</dt>
  <dd>Converts Mongrel Alloy and Fluorides to separated metals. KREEP Regolith: produces potassium, rare earth elements, phosphorous.</dd>
  <dt class="encrypted">Magnetic Liquid Separation</dt>
  <dd>Converts <span class="resource">refined regolith</span> into Nickel-Iron dust, Iron-Titanium oxides, ceramic slag oxides. KREEP Regolith: produces potassium, rare earth elements, phosphorous.</dd>
  <dt class="encrypted">Metal Refining</dt>
  <dd>Converts raw metals to alloys.</dd>
</dl>
