@mixin theme-color($hue, $parent) {
  background: hsl($hue, 100%, 13%);
  border: 1px solid hsl($hue, 100%, 10%);
  color: hsl($hue, 50%, 80%);
  text-shadow: 0 0 1px hsl($hue, 50%, 13%);

  :host-context(#{$parent}) & {
    display: none;
    visibility: hidden;
  }
}

li {
  font-weight: 600;
  padding: 2px 4px;
}


#remote-switch {
  @include theme-color(38, ".is-remote");
}

#filesystem-switch {
  @include theme-color(198, ".is-filesystem");
}

#green-switch {
  @include theme-color(120, ".is-green");
}

#error-switch {
  @include theme-color(0, ".is-error");
}

#purple-switch {
  @include theme-color(275, ".is-purple");
}

#local-switch {
  background: hsl(0, 0%, 13%);
  border: 1px solid hsl(0, 0%, 10%);
  color: hsl(0, 0%, 80%);
  text-shadow: 0 0 1px hsl(0, 0%, 13%);

  :host-context(.is-local) & {
    display: none;
    visibility: hidden;
  }
}


