<div class='card'>
  <div class='title'>
    {{ bot?.id }}
  </div>
  <div class='type'>{{ bot?.type }}</div>
  <div class='battery'>
    <button class='label' (click)="openSourceList()">{{ bot?.source?.id || 'No Power Source' }}</button>
    <button class='remove' (click)="detachSource()">X</button>
    <app-fly-out-menu
                      (choiceMade)="attachSource($event)"
                      [header]="'Power Sources'"
                      [isOpen]="sourceListOpen"
                      [choices]="power.batteries"></app-fly-out-menu>
  </div>
  <ng-container *ngIf='bot?.source'>
    <div class='charge'>Charge: {{ bot?.source!.charge / bot?.source!.capacity | percent:'1.1-1' }}</div>
  </ng-container>
  <div class='power'>Power: {{ bot?.power }}W</div>
  <div class='temperature'>Temp: {{ bot?.temperature | number:'0.2-2' }}C</div>
  <div class='job'>
    <button (click)="openJobList()">{{ bot?.job }}</button>
    <app-fly-out-menu
                      (choiceMade)="selectJob($event)"
                      [header]="'Jobs List'"
                      [isOpen]="jobListOpen"
                      [choices]="bot?.jobs ?? []"></app-fly-out-menu>
  </div>
  <div class='active'>{{ bot?.isActive }}</div>
  <div class='deactivated'>{{ bot?.isDeactivated }}</div>
  <div class='life'>{{ (bot?.life ?? 0) / 1000 | number:'1.1-1' }}s</div>
  <div class='power-cutoff'>{{ bot?.powerCutoff | percent:'1.0-0' }}</div>
  <div class='mass'>{{ (bot?.mass ?? 0) / 1000 | number:'1.1-1' }}kg</div>
</div>
