@import '../../../scss/themes.scss';

.card {
  grid-column: 2;
  grid-row: 2;
  border: 1px solid $base-border-color;
  background: black;
  padding: 8px;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-template-rows: 3fr 2fr;
  grid-gap: 4px;
  align-items: top;

  .title {
      grid-column: 1 / 3;
      grid-row: 1;
      font-size: 1.25em;
      // font-weight: 600;
  }
  .type {
      grid-column: 1 / -1;
      grid-row: 2;
      display: none;
  }
  .battery {
      grid-column: 1 / 3;
      grid-row: -2;
      display: flex;

      >button {
        padding: 4px;
        margin: 0;
        height: 100%;
      }
      .label {
          border: 1px solid $base-border-color;
          padding: 4px 16px;
      }
      .remove {
          margin: 0 8px 0 0;
          border: 1px solid $base-border-color;
          vertical-align: center;
      }
  }

  .power {
      grid-column: -2;
      grid-row: 1;
      justify-self: end;
  }

  .temperature {
      grid-column: -3;
      grid-row: 1;
      justify-self: end;
  }
  .charge {
      grid-column: -4;
      grid-row: 1;
      justify-self: end;
  }

  .job {
      grid-column: -3 / -1;
      grid-row: -2;
      text-align: center;
      vertical-align: center;
      position: relative;

      >button {
        padding: 4px;
        margin: 0;
        width: 100%;
        height: 100%;
      }
  }

  .active,
  .deactivated,
  .life,
  .power-cutoff,
  .mass {
    display: none;
  }
}
