<li class="resource" [attr.data-resource]="resource.name" [class.uncapped]="resource.total === undefined">
  <div class="label">{{ resource.label }}</div>
  <div class="current">{{ resource.current }}</div>
  <div class="total" *ngIf="resource.total > 0">{{ resource.total }}</div>
  <div class="rate" [class.is-pos]="resource.rate > 0" [class.is-neg]="resource.rate < 0">{{ resource.rate !== 0 ? (resource.rate | number:'1.2-2') : '—'}}</div>
</li>
