.resource {
  /*! border-bottom: 1px solid $base-border-color; */
  margin: 0px 4px;
  display: flex;
  flex: 0 0;
  align-items: baseline;
  // width: 185px;
  /*! border: 1px solid #F0F; */
  box-sizing: border-box;

  > div {
    min-width: var(--num-width);
    padding: 1px 0;
    flex: 0 0 auto;
    box-sizing: border-box;
  }

  .label {
    width: 60px;
    color: hsl(var(--base-hue), 100%, 70%);
    font-weight: 600;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:after {
      /*   border-bottom: 1px solid #FFF; */
      content: ' ';
      display: block;
      left: 0;
      right: 25px;
      position: absolute;
      transform: translateY(1px);
    }

    :host-context(.is-local) & {
      color: hsl(var(--base-hue), 5%, 60%);
    }
  }

  .current {
    font-size: 16px;
    text-align: right;
    grid-column: current;
    /*! line-height: 1.2; */
    width: 50px;
  }

  .total {
    opacity: 0.5;
    grid-column: total;
    position: relative;
    width: 40px;

    &:before {
      opacity: 0.5;
      content: '/';
    }

    &:after {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      content: ' ';
      vertical-align: bottom;
    }
  }

  .rate {
    opacity: 0.5;
    font-weight: 600;
    text-align: center;
    grid-column: rate;
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 35px;

    &.is-pos {
      opacity: 1;
      color: #33ff33;

      &:before {
        content: '+';
      }
    }

    &.is-neg {
      opacity: 1;
      color: #ff3333;
    }
  }

  &.uncapped {
    .current {
      width: 90px;
      text-align: center;
    }

    .total {
      display: none;
    }
  }
}


.label {
  --num-width: calc(20 * var(--px-width));
  min-width: var(--num-width);
  color: #66d1ff;
  font-weight: 600;
  font-size: 12px;
}
