<!-- <div class="text-box">
  <app-resource-meter [resource]="testResource" style="--px-width: 10px;"></app-resource-meter>
</div> -->
<div class="click-button">
  <button (click)="focusBotMenu()">Click Me!</button>
  <app-fly-out-menu (choiceMade)="select($event)" [header]="'Bot List'" [isOpen]="botMenuOpen" [choices]="bot.bots"></app-fly-out-menu>
</div>
<div class="bots">
  <ng-container *ngFor="let bot of botList">
    {{ bot | json }}
  </ng-container>
</div>
<div>
  <h2>toDo:</h2>
  <ul>
    <li>Add proper decryption component(s)</li>
    <li>Add proper models for research</li>
    <li>Make log service
      <ul>
        <li>Trigger log on create bot</li>
        <li>Trigger log on start work</li>
        <li>Trigger log on end work</li>
        <li>Trigger log on out of space/resources</li>
      </ul>
    </li>
    <li>Add Tooltips</li>
  </ul>
</div>
<div class="container">
  <app-progress-button *ngFor="let data of buttons"
                       [data]="data"
                       (started)="start(data)"></app-progress-button>
</div>
