/** BEGIN animations.scss */
app-component {
  opacity: 0;
  animation-delay: 0ms;
  // opacity: 0;
}

.is-local, .is-remote, .is-filesystem, .is-error, .is-green, .is-purple {
  animation: 250ms fadeIn ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/** END animations.scss */
