/** BEGIN robo.scss */

// Base Rules
html, app-root {
  background: black;
  height: 100%;
  --base-tab-z: 2;
  --active-tab-z: 10;
  --base-hue: 120;
  --page-dark-bg: hsl(var(--base-hue), 5%, 7%);
  --page-active-dark-bg: hsl(var(--base-hue), 0%, 13%);
  --page-light-fg: hsl(var(--base-hue), 0%, 98%);
  --body-font: #{$bodyFont};
  --header-font: #{$headerFont};
  --mono-font: #{$monoFont};
  --transition: all 250ms ease-in-out;

}

body, app-root > div {
  --page-active-dark-bg: hsl(var(--base-hue), 5%, 13%);
  &.is-local {
    --page-dark-bg: hsl(var(--base-hue), 5%, 4%);
    --page-active-dark-bg: hsl(var(--base-hue), 0%, 9%);
  }
  transition: var(--transition);
  font-size: 16px;
  background: var(--page-dark-bg);
  color: var(--page-light-fg);

}

input::selection,
::selection {
  color: hsla(var(--base-hue), 100%, 100%, 0.9);
  background: hsla(var(--base-hue), 5%, 0%, 0.5);
  text-shadow: 1px 1px 1px hsl(var(--base-hue), 80%, 50%);
}

input::-moz-selection,
::-moz-selection {
  color: hsla(var(--base-hue), 100%, 100%, 0.8);
  background: hsla(var(--base-hue), 5%, 0%, 0.9);
  text-shadow: 2px 2px 1px hsl(var(--base-hue), 80%, 50%);
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

li p {
  margin: 0;
}

svg {
  transition: var(--transition);
  transition-duration: 300ms;
}

section {
  padding: 0;
  margin: 0;
  border: none;
  max-width: unset;
  min-width: unset;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

button {
  background: var(--page-dark-bg);
  border: 1px solid $base-border-color;
  color: var(--page-light-fg);
  padding: 0 8px 2px;
  margin: 2px;
  transition: var(--transition);
  font-weight: 600;

  &:hover {
    background: $base-border-color;
  }
  &.error {
    background: hsl(0, 50%, 13%);
    color: hsl(0, 100%, 98%);
    &:hover {
      background: hsl(0, 100%, 21%);
      color: var(--page-light-fg);
    }
  }
  &:disabled {
    background: hsla(0, 0%, 50%, 0.35);
    color: hsl(0, 0%, 50%);
    &:hover {
      background: hsla(0, 0%, 40%, 0.35);
      /* color: hsl(0, 0, 40%); */
    }
  }
}

progress, meter {
  box-sizing: border-box;
  height: 10px;
  background: var(--page-active-dark-bg);
  border: 1px solid $base-border-color;
  color: white;
  width: var(--meter-width);

  &::-moz-meter-bar {
    background: white;
  }
  &::-webkit-meter-bar {
    background: var(--page-active-dark-bg);
    border: 1px solid $base-border-color;
  }
  &::-webkit-meter-optimum-value,
  &::-webkit-meter-suboptimal-value,
  &::-webkit-meter-even-less-good-value
  {
    background: white;
  }
}

.small {
  font-size: 75%;
}

// Kitchen Sink rules..
header {
  display: flex;
  text-align: center;
  align-items: flex-end;
  h1 {
    font-size: 250%;
    margin: 16px 4px 8px;
    font-family: var(--body-font);
    font-weight: 300;
  }
  p {
    margin: 0 40px;
    font-size: 200%;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: auto;
  font-size: 80%;
  border: 1px solid $base-border-color;
  background: var(--page-active-dark-bg);
  position: relative;
  >div {
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--transition);
    visibility: hidden;
    display: none;
    opacity: 0;

    // Enables default tab view.
    &:target,
    &:last-child {
      visibility: visible;
      display: block;
      opacity: 1;
    }
  }

  // Enables default tab view.
  :target~ :last-child {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}

footer ul {
  display: flex;
  flex-direction: row-reverse;
  font-size: 75%;
  position: relative;
  li {
    margin: 2px;
    &.spacer {
      flex: 1 1 auto;
    }
  }
}

.collapsed footer {
  height: 0px;
  border-color: transparent;
  visibility: hidden;
  opacity: 0;
}


.log {
  ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
  }
  .small {
    opacity: 0.5;
  }
  li:not(:last-child) {
    margin: 16px 0 0 0;
  }
}

li > ul {
  border-left: 1px solid #FFF3;
  padding: 0 0 0 1em;
  margin: 0.5em 0 0.5em 1em;
}

main h2 {
  margin-top: 1.25em;
}

/** END robo.scss */
