/** BEGIN states.scss */

$body-gradient: linear-gradient(15deg, hsl(var(--base-hue), 100%, 20%), hsl(var(--base-hue), 100%, 5%) 70%, hsl(var(--base-hue), 100%, -1%));

body, .is-error, .is-green, .is-purple, .is-remote, .is-filesystem {
  background: $body-gradient;
}

.is-local {
  background: black;
}

.is-none {
  display: none;
}

// Is-Visible State
.is-none,
.is-visible,
.is-visible * {
  visibility: visible;
  opacity: 1;
}

// Is-Hidden State
.is-hidden {
  visibility: hidden;
  opacity: 0;
}

// Is-Offscreen State, Top
.is-offscreen.top {
  top: -100vh;
}

// Is-Offscreen State, Right
.is-offscreen.rgt {
  right: -100vw;
}

// Is-Offscreen State, Bottom
.is-offscreen.bot {
  bottom: -100vh;
}

// Is-Offscreen State, Left
.is-offscreen.lft {
  left: -100vw;
}

 /** END states.scss */
