/** BEGIN themes.scss */
$base-border-color: hsla(0, 0%, 98%, 0.2);

.red.red {
  color: #bf4040;
  background: #f9ecec;
}

.red-inverted.red-inverted {
  color: #f9ecec;
  background: #bf4040;
}

.blue.blue {
  color: #4040bf;
  background: #ececf9;
}

.blue-inverted.blue-inverted {
  color: #ececf9;
  background: #4040bf;
}

.green.green {
  color: #40bf40;
  background: #ecf9ec;
}

.green-inverted.green-inverted {
  color: #ecf9ec;
  background: #40bf40;
}

.cyan.cyan {
  color: #40bfbf;
  background: #ecf9f9;
}

.cyan-inverted.cyan-inverted {
  color: #ecf9f9;
  background: #40bfbf;
}

.magenta.magenta {
  color: #bf40bf;
  background: #f9ecf9;
}

.magenta-inverted.magenta-inverted {
  color: #f9ecf9;
  background: #bf40bf;
}

.yellow.yellow {
  color: #bfbf40;
  background: #f9f9ec;
}

.yellow-inverted.yellow-inverted {
  color: #f9f9ec;
  background: #bfbf40;
}

.grey.grey {
  color: gray;
  background: #f2f2f2;
}

.white.white {
  color: #f2f2f2;
  background: gray;
}

.bold {
  font-weight: 400;
}

.heavy {
  font-weight: 700;
}

.is-remote {
  --base-hue: 38;
}

.is-filesystem {
  --base-hue: 198;
}

.is-local {
  --base-hue: 120;
}

.is-green {
  --base-hue: 158;
}

.is-error {
  --base-hue: 0;
}

.is-purple {
  --base-hue: 275;
}

/** END themes.scss */
