/** BEGIN type.scss */

$headerFont: "Open Sans Condensed", "Gill Sans MT Condensed", sans-serif;
$bodyFont: "Open Sans", "Gill Sans MT", sans-serif;
$monoFont: "Iosevka Term", monospace;

body {
  font-weight: 400;
  line-height: 1.45;
}

p {
  margin-bottom: 1.3em;
}

small,
.small {
  font-size: 0.8em;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

// h1 { font-size: 3.167em; }
h2 {
  font-size: 1.667em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.167em;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

body,
input,
button {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

pre,
code,
.mono {
  font-family: var(--mono-font);
  font-weight: 700;
  font-size: 0.8em;
}

/** END type.scss */
